<% include ../_partials/head %>
  <% include ../_partials/messages %>
  <main>
    <article class="post">
      <% include _header %>
      <section class="image">
        <img src="/<%= image.path %>" />
      </section>
      <% include _feedbackControls %>
      <section class="notes">
        <% for (let note of image.notes) { %>
          <article class="note">
            <header>
              <% if (note.author._id.toString() === agent._id.toString() ||
                     image.photographer._id.toString() === agent._id.toString() ||
                     (process.env.SUDO && process.env.SUDO === agent.email)) { %>
                <% include _noteControls %>
              <% } %>
              <img class="avatar" src="<%= note.author.get('picture') %>" />
              <aside>
                <span><%= note.author.get('nickname') %></span>
                <div class="note-content"><%- marked(note.text) %></div>
              </aside>
            </header>
          </article>
        <% } %>
      </section>
      <section class="likes">
        <% for (let like of image.likes) { %>
          <article class="like">
            <header>
              <img class="avatar" src="<%= like.get('picture') %>" />
              <aside>
                <div><%= like.get('nickname') %> <i class="fas fa-heart">s</i> this</div>
              </aside>
            </header>
          </article>
        <% } %>
      </section>
      <% if (canWrite) { %>
        <% include _controls %>
      <% } %>
    </article>
  </main>
<% include ../_partials/footer %>

