<% include ../_partials/head %>
  <% include ../_partials/messages %>
  <main>
    <article class="post">
      <% include _header %>
      <section class="image">
        <img src="/<%= image.path %>" />
      </section>
      <% include _feedbackControls %>
      <section class="likes">
        <% for (let like of image.likes) { %>
          <article class="like">
            <header>
              <img class="avatar" src="<%= like.get('picture') %>" />
              <aside>
                <div><%= like.get('nickname') %> <i class="fas fa-heart">s</i> this</div>
              </aside>
            </header>
          </article>
        <% } %>
      </section>
      <section class="notes">
        <% for (let note of image.notes) { %>
          <article class="note">
            <header>
              <img class="avatar" src="<%= note.author.get('picture') %>" />
              <aside>
                <span><%= note.author.get('nickname') %></span>
                <span class="note-content"><%= note.text %></span>
              </aside>
            </header>
          </article>
        <% } %>
      </section>
      <% if (canWrite) { %>
        <% include _controls %>
      <% } %>
    </article>
  </main>
<% include ../_partials/footer %>

