<% include ../_partials/head %>
  <% include ../_partials/messages %>
  <main>
    <article class="post">
      <% include _header %>
      <section class="image">
        <img src="/<%= image.path %>" />
      </section>
      <% if (canWrite) { %>
        <section id="image-controls">
          <form action="<%= `/${image.path.replace('uploads', 'image')}?_method=DELETE` %>" method="post" id="delete-image-form">
            <button id="delete-image" type="submit">Delete</button>
          </form>
          <% if (!process.env.SUDO || agent.email === process.env.SUDO) { %>
            <form action="<%= `/${image.path.replace('uploads', 'image')}` %>" method="post" id="publish-image-form">
              <button id="publish-image" type="submit">Publish</button>
            </form>
          <% } %>
        </section>
      <% } %>
      <footer>
        <div><i class="like-button <%= image.likes.indexOf(agent._id) > -1 ? 'fas' : 'far' %> fa-heart" onclick="like('<%= image.path %>', this)"></i></div>
      </header>
    </article>
  </main>
<% include ../_partials/footer %>

