      <section class="track-controls">
        <form action="<%= `/${track.path.replace('uploads', 'track')}?_method=DELETE` %>" method="post" class="delete-track-form">
          <button class="delete-track" type="submit" aria-label="Delete">
            <i class="fas fa-trash-alt"></i>
          </button>
        </form>
        <% if (!process.env.SUDO || agent.email === process.env.SUDO) { %>
            <% if (track.flagged) { %>
              <form action="<%= `/${track.path.replace('uploads', 'track')}/flag?_method=PATCH` %>" method="post" class="deflag-track-form">
                <button class="publish-track" type="submit">
                  Deflag
                </button>
              </form>
            <% } else { %>
              <form action="<%= `/${track.path.replace('uploads', 'track')}` %>" method="post" class="publish-track-form">
                <button class="publish-track" type="submit" aria-Label="<%= track.published ? 'Unpublish' : 'Publish' %>">
                  <%= track.published ? 'Unpublish' : 'Publish' %>
                </button>
              </form>
            <% } %>
        <% } %>
      </section>
