            <section class='feedback-controls'>
              <div>
                <i class="like-button <%= track.likes.find(l => l.email === agent.email) ? 'fas' : 'far' %> fa-heart" onclick="like('<%= track.path %>', this)">
                  <% if (track.likes.length + track.notes.length) { %>
                    <%= track.likes.length + track.notes.length %> note<%= track.likes.length + track.notes.length === 1 ? '' : 's' %>
                  <% } %>
                </i>

                <span class="accordion">
                  <input type="checkbox" id="<%= track._id %>-accordion" />
                  <label for="<%= track._id %>-accordion">
                    <i class="far fa-comment"></i>
                  </label>

                  <span class="content">
                    <form action="<%= `/${track.path.replace('uploads', 'track')}/note` %>" method="post" class="post-note-form" id="<%= track._id %>-note">
                      <textarea id="track-note-field" name="text" form="<%= track._id %>-note" maxlength=500></textarea>
                      <div class="post-controls">
                        <button class="post-note" type="submit" aria-label="Post">
                          <i class="fas fa-paper-plane"></i>
                        </button>
                      </div>
                    </form>
                  </span>
                </span>
              </div>
            </section>
