<% include ../_partials/head %>
  <% include ../_partials/messages %>
  <main>
    <article class="post">
      <% include _header %>
      <section class="track">
        <figure>
          <figcaption>
            <h2>Name: <span id="track-name-field" contenteditable="<%= canWrite %>"></span></h2>
            <a href="<%= `/${track.path.replace('uploads', 'track')}` %>">
              <%= `/${track.path.replace('uploads', 'track')}` %>
            </a>
          </figcaption>
          <p id="track-transcription-field" contenteditable="<%= canWrite %>"></p>
          <canvas id="visualizer"></canvas>
          <audio
            id="audio-source"
            controls
            src="<%= `/${track.path}` %>">
              Your browser does not support the
              <code>audio</code> element.
          </audio>
        </figure>
      </section>
      <% if (canWrite) { %>
        <% include _controls %>
      <% } %>

      <% include _feedbackControls %>
      <section class="notes">
        <% for (let note of track.notes) { %>
          <article class="note">
            <header>
              <% if (note.author._id.toString() === agent._id.toString() ||
                     track.recordist._id.toString() === agent._id.toString() ||
                     (process.env.SUDO && process.env.SUDO === agent.email)) { %>
                <% include _noteControls %>
              <% } %>
              <img class="avatar" src="<%= note.author.get('picture') %>" />
              <aside>
                <span><%= note.author.get('nickname') %></span>
                <div class="note-content"><%- marked(note.text) %></div>
              </aside>
            </header>
          </article>
        <% } %>
      </section>
      <section class="likes">
        <% for (let like of track.likes) { %>
          <article class="like">
            <header>
              <img class="avatar" src="<%= like.get('picture') %>" />
              <aside>
                <div><%= like.get('nickname') %> <i class="fas fa-heart">s</i> this</div>
              </aside>
            </header>
          </article>
        <% } %>
      </section>
    </article>
  </main>
  <script>
    let wave = new Wave();
    wave.fromElement('audio-source','visualizer', { type: 'wave' });
  </script>
<% include ../_partials/footer %>

